@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,200&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.section-title {
    font-weight: bold;
    color: #413960;
    text-decoration: underline;
    text-decoration-color: #21b573;
}

/* Navbar Start */
.navbar {
    padding: 10px;
}

.logo {
    width: 198px;
    height: 59px;
}

.nav-item {
    margin: 0px 10px;
    font-weight: 500;
    font-size: 16px;
}

.nav-item a {
    color: black !important;
}

.sign-in-btn {
    background-color: #21b573;
    border-radius: 25px;
    padding: 0px 25px;
}

.sign-in-btn a {
    color: white !important;
    font-size: 16px;
    font-weight: 500;
}

.sticky-top {
    background-color: #f0fff0;
}

/* Navbar End */

/* Header Section Start */
.header-section {
    width: 100%;
    height: 576px;
    background-color: #f0fff0;
}

.get-started-btn {
    border: none;
    color: #fff;
    background-color: #21b573;
    border-radius: 25px;
    padding: 12px 36px;
}

.text-area h6 {
    color: #fd511a;
}

.text-area h1 {
    font-size: 48px;
    font-weight: bold;
    line-height: 70px;
    padding: 0px 0px 17px 0px;
}

.text-area h1 span {
    color: #21b573;
}

.text-area p {
    color: #6c6b6b;
    line-height: 36px;
    padding: 0px 0px 17px 0px;
}

.row {
    padding-top: 50px;
}

.img-area img {
    width: 554px;
    height: 346px;
}

/* Header Section End */

/* About Section Start */
.about-section .card {
    width: 270px;
    height: 270px;
    background-color: #f8fffb;
    border-radius: 10px;
    border: none;
    transition: ease-in-out 0.2s;
}

.about-section .card:hover {
    background-color: white;
    transform: scale(1.03);
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.about-section .section-title {
    padding: 45px 0px;
}

.item1{
    width: 66px;
    height: 85px;
}

.item2{
    width: 80px;
    height: 83px;
}

.item3{
    width: 75px;
    height: 80px;
}

.item4{
    width: 68px;
    height: 76px;
}

.card-items {
    text-align: center;
}

.item-img {
    padding: 15px;
}

.card-items h5 {
    font-size: 24px;
    color: #413960;
}

.card-items p {
    font-size: 16px;
    color: #585859;
}

/* About Section End */

/* Courses Section Start */

.courses-section .section-title {
    padding: 45px 0px;
}

.courses-section .card {
    border: none;
    border-radius: 18px;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: ease-in-out 0.2s;
}

.courses-section .card:hover {
    transform: scale(1.05);
}

.card-footer {
    border: none;
    background-color: transparent;
    padding: 15px 15px;
}

.card-img-top {
    width: 331px;
    height: 234px;
    margin: auto;
    padding: 15px 5px;
    position: relative;
}

.card-body h5{
    font-size: 24;
    font-weight: 500;
    color: #413960;
}

.card-body p{
    font-size: 16px;
    color: #585859;
    padding: 0px 0px 10px 0px;
}

.date-icon, .seat-icon {
    width: 24px;
    height: 24px;
}

.date, .seat {
    display: inline;
}

.date span, .seat span {
    font-size: 16px;
    color: #585859;
}

.buy-btn {
    border: none;
    color: #fff;
    background-color: #21b573;
    border-radius: 25px;
    padding: 8px 40px;
}


/* Courses Section End */

/* Testimonial Section Start */
.testimonial-section {
    padding: 50px 0px 100px 0px;
}

.testimonial-section .section-title {
    padding: 45px 0px;
}

.testimonial-item img {
    width: 120px;
    display: inline-block;
    float: left;
    position: absolute;
}

.testimonial-item p {
    width: 583px;
    height: 90px;
    font-size: 16px;
    line-height: 30px;
    margin-left: 150px;
    margin-top: 10px;
}

.testimonial-item {
    margin: auto;
    position: relative;
}


/* Testimonial Section End */

/* Footer Section Start */
.footer-section {
    height: 369px;
    background-color: #282531;
    line-height: 30px;
}

.footer-section ul :first-child {
    font-size: 16px;
    font-weight: 700;    
}

.footer-section ul {
    font-size: 16px;
    font-weight: 200 !important;
    list-style: none;
    color: #fff;  
}

.footer-section p {
    font-size: 16px;
    font-weight: 200;
    color: #fff;   
}

.copyright {
    padding-top: 20px;
    margin: auto;
}

.copyright p {
    font-size: 14px;
    color: #cdcdcd;
    font-weight: 200 !important;
}

/* Footer Section End */
